.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-inline: 30px;
     margin-block: 10px;
}
.brandName{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.brandName>h1{
     color: orangered;
     font-size: x-large;
     font-weight: 600;
}

.logo{
     height: 10vh;
}

.line{
     border: node;
     background-color: honeydew;
}